.suppliers-table {
  tr {
    th {
      text-align: center;

      &.code {
        width: 150px;
      }

      &.email {
        width: 200px;
      }

      &.representative {
        width: 210px;
      }

      &.representative-number {
        width: 130px;
      }
    }

    td {
      text-align: center;

      &.name,
      &.code {
        text-transform: uppercase;
      }
    }
  }
}
