@import '../assets/fonts/fira-mono/style.css';
@import './variables/colors';
@import './variables/common';
@import './variables/breakpoints';
@import './normalize';
@import './common';

body {
  background-color: #f3f6f8;
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Mono';
  overflow-y: scroll;
}
