@import '../assets/fonts/quicksand/style.css';
@import './variables/colors';
@import './variables/common';
@import './variables/breakpoints';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $blue;
}

input[type=text] {
  padding: 8px 12px;
  font-family: inherit;
  border: $input-border;
  border-radius: 3px;
  transition: all 100ms ease-in-out;

  &:focus {
    outline: none;
    border: 1px solid $blue;
  }
}

h1 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f3f3f3;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand';
}
