.text-center {
  text-align: center;
}

table {
  tr {
    &.success {
      td,
      th {
        background-color: $success;
      }
    }

    &.error {
      td,
      th {
        background-color: $error;
      }
    }
  }
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &.success {
    background-color: $green;
    color: $white;
  }

  &.error {
    background-color: $red;
    color: $white;
  }
}

.padded {
  padding: 15px;
}