$bp-smaller-than-mobile: 'max-width: 320px';
$bp-smaller-than-phablet: 'max-width: 549px';
$bp-smaller-than-tablet: 'max-width: 768px';
$bp-smaller-than-small-desktop: 'max-width: 999px';
$bp-smaller-than-medium-desktop: 'max-width: 1299px';
