.bad-orders-table {
  tr {
    th, td {
      &.date,
      &.invoice-number,
      &.supplier,
      &.quantity,
      &.action {
        text-align: center;
      }

      &.amount {
        text-align: right;
      }
    }
  }
}

.bad-orders-import {
  .import-table {
    tr {
      th, td {
        font-size: 13px;

        &.status,
        &.date,
        &.supplier,
        &.quantity {
          text-align: center;
        }

        &.status {
          .badge {
            cursor: pointer;
          }
        }

        &.amount {
          text-align: right;
        }

      }
    }
  }
}
